<a href="https://colab.research.google.com/github/moridin04/CCMACLRL_EXAM_COM221ML/blob/main/Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [229]:
dataset_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/train.csv?raw=true'
df = pd.read_csv(dataset_url)
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [231]:
df.isnull().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [232]:
df.dropna(inplace=True)

In [233]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [234]:
df.describe()

                  id     model_year         milage         price
count  162610.000000  162610.000000  162610.000000  1.626100e+05
mean    94197.039137    2015.158822   71105.487086  4.081699e+04
std     54467.770815       5.699531   50157.874111  7.653857e+04
min         0.000000    1974.000000     100.000000  2.000000e+03
25%     47026.250000    2012.000000   29000.000000  1.570000e+04
50%     94139.000000    2016.000000   64300.000000  2.850000e+04
75%    141421.750000    2019.000000  101000.000000  4.699900e+04
max    188532.000000    2024.000000  405000.000000  2.954083e+06

In [235]:
df.sample(20)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
135560,135560,BMW,M4 Base,2018,67800,Gasoline,425.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,White,Black,None reported,Yes,40200
171713,171713,Ford,Expedition Timberline,2023,8332,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,Black,Black Onyx,None reported,Yes,79990
1665,1665,Ford,E350 Super Duty XLT,2008,169000,E85 Flex Fuel,255.0HP 5.4L 8 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,White,Beige,None reported,Yes,15500
151603,151603,Ford,Tundra SR5 Access Cab,2005,229450,Gasoline,282.0HP 4.7L 8 Cylinder Engine Gasoline Fuel,A/T,Red,Gray,None reported,Yes,21999
29575,29575,INFINITI,QX60 Luxe,2020,48000,Gasoline,295.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,49995
159413,159413,Subaru,Legacy 2.5 i Premium,2013,178000,Gasoline,175.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,14800
103646,103646,Audi,S4 3.0T Premium Plus,2014,73900,Gasoline,333.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,A/T,White,Gray,None reported,Yes,19500
90685,90685,Audi,A3 2.0 TDI Premium Plus,2022,3521,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Gray,Black,None reported,Yes,87500
8148,8148,Porsche,911 Turbo S,2020,12088,Gasoline,572.0HP 3.8L Flat 6 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Black,None reported,Yes,138999
177964,177964,Dodge,Charger R/T,2012,181830,Gasoline,370.0HP 5.7L 8 Cylinder Engine Gasoline Fuel,5-Speed A/T,White,Red,None reported,Yes,22000
77438,77438,Ford,F-250 Platinum,2019,59459,Diesel,450.0HP 6.7L 8 Cylinder Engine Diesel Fuel,6-Speed A/T,White,Black,At least 1 accident or damage reported,Yes,34500
168500,168500,Cadillac,DTS Luxury II,2005,99000,Gasoline,275.0HP 4.6L 8 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,11990
138430,138430,INFINITI,QX60 Base,2014,91239,Gasoline,260.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,17500
114245,114245,BMW,M3 Base,2009,92000,Gasoline,414.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Black,Black,At least 1 accident or damage reported,Yes,24500
170827,170827,Jaguar,F-TYPE R,2016,52500,Gasoline,550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,At least 1 accident or damage reported,Yes,51900
80999,80999,Chevrolet,Colorado LT Crew Cab,2005,74500,Gasoline,300.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,5-Speed A/T,Red,Black,None reported,Yes,11499
23392,23392,Lexus,GX 460 Base,2021,22466,Gasoline,301.0HP 4.6L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,51074
184431,184431,Land,Rover Range Rover Sport HSE,2022,12700,Gasoline,400.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Gray,Gray,None reported,Yes,48000
73736,73736,Land,Rover Range Rover Sport HSE,2016,99982,Gasoline,340.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,At least 1 accident or damage reported,Yes,48000
102140,102140,Land,Rover Range Rover Sport Supercharged HSE,2018,61000,Gasoline,340.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,Black,None reported,Yes,54500

In [236]:
from datetime import datetime

current_year = datetime.now().year
df['model_year'] = current_year - df['model_year'].astype(int)
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,17,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,22,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,22,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,7,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,3,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [237]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
label_encoder = LabelEncoder()
df['brand'] = label_encoder.fit_transform(df['brand'])
df['model'] = label_encoder.fit_transform(df['model'])
df['fuel_type'] = label_encoder.fit_transform(df['fuel_type'])
df['engine'] = label_encoder.fit_transform(df['engine'])
df['transmission'] = label_encoder.fit_transform(df['transmission'])
df['ext_col'] = label_encoder.fit_transform(df['ext_col'])
df['int_col'] = label_encoder.fit_transform(df['int_col'])
df['accident'] = label_encoder.fit_transform(df['accident'])
df['clean_title'] = label_encoder.fit_transform(df['clean_title'])

In [238]:
df

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,31,493,17,213000,2,110,38,306,71,1,0,4200
1,1,28,925,22,143250,2,358,38,257,10,0,0,4999
2,2,9,1567,22,136731,1,627,38,37,71,1,0,13900
3,3,16,755,7,19500,2,846,49,28,14,1,0,45000
4,4,36,1072,3,7388,2,252,23,28,10,1,0,97500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188527,188527,9,402,25,110000,2,604,38,298,71,1,0,14500
188528,188528,8,601,7,49000,2,849,49,298,10,1,0,27500
188529,188529,36,204,6,28600,2,757,31,298,14,0,0,30000
188530,188530,36,221,3,13650,2,904,23,298,14,1,0,86900
188532,188532,43,1023,8,59500,2,356,49,298,14,1,0,28995

In [239]:
from sklearn.preprocessing import MinMaxScaler
non_boolean_numerical_features = ['milage' ,'price']
scaler = MinMaxScaler()
df[non_boolean_numerical_features] = scaler.fit_transform(df[non_boolean_numerical_features])

In [240]:
y_scaled = df['price']
y_scaled

0         0.000745
1         0.001016
2         0.004031
3         0.014566
4         0.032350
            ...
188527    0.004234
188528    0.008638
188529    0.009485
188530    0.028759
188532    0.009144
Name: price, Length: 162610, dtype: float64

In [241]:
x = df.drop(['price'],axis=1)
x

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,0,31,493,17,0.525809,2,110,38,306,71,1,0
1,1,28,925,22,0.353544,2,358,38,257,10,0,0
2,2,9,1567,22,0.337444,1,627,38,37,71,1,0
3,3,16,755,7,0.047913,2,846,49,28,14,1,0
4,4,36,1072,3,0.018000,2,252,23,28,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
188527,188527,9,402,25,0.271425,2,604,38,298,71,1,0
188528,188528,8,601,7,0.120771,2,849,49,298,10,1,0
188529,188529,36,204,6,0.070388,2,757,31,298,14,0,0
188530,188530,36,221,3,0.033465,2,904,23,298,14,1,0
188532,188532,43,1023,8,0.146703,2,356,49,298,14,1,0

1. Use the Dataset file to train your model. Split this into train and test to calculate the RMSE

In [242]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y_scaled, test_size=0.2, random_state=42)

In [243]:
model = LinearRegression()

In [244]:
model.fit(X_train, y_train)

LinearRegression()

In [245]:
y_pred = model.predict(X_test)

mean_squared_error(y_test, y_pred, squared=False)

0.026776874019972474

In [246]:
test_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/test.csv?raw=true'
dt = pd.read_csv(test_url)

In [247]:
sample_submission_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/sample_submission.csv?raw=true'

sf = pd.read_csv(sample_submission_url)

In [248]:
id = sf.pop('id')
y_pred = model.predict(dt)

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'class': y_pred
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")

ValueError: could not convert string to float: 'Land'