<a href="https://colab.research.google.com/github/moridin04/CCMACLRL_EXAM_COM221ML/blob/main/Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [509]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [510]:
dataset_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/train.csv?raw=true'
df = pd.read_csv(dataset_url)
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [512]:
df.isnull().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [513]:
df.dropna(inplace=True)

In [514]:
df.isnull().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

In [515]:
df.describe()

                  id     model_year         milage         price
count  162610.000000  162610.000000  162610.000000  1.626100e+05
mean    94197.039137    2015.158822   71105.487086  4.081699e+04
std     54467.770815       5.699531   50157.874111  7.653857e+04
min         0.000000    1974.000000     100.000000  2.000000e+03
25%     47026.250000    2012.000000   29000.000000  1.570000e+04
50%     94139.000000    2016.000000   64300.000000  2.850000e+04
75%    141421.750000    2019.000000  101000.000000  4.699900e+04
max    188532.000000    2024.000000  405000.000000  2.954083e+06

In [516]:
df.sample(20)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
134676,134676,Land,Rover Range Rover SV Autobiography Dynamic SWB,2020,16554,Gasoline,557.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,White,None reported,Yes,44999
150733,150733,BMW,328 i,2001,116157,Gasoline,190.0HP 2.8L Straight 6 Cylinder Engine Gasoli...,5-Speed M/T,Yellow,–,At least 1 accident or damage reported,Yes,11900
64870,64870,Mercedes-Benz,GLE 350 Base 4MATIC,2019,39000,Gasoline,255.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,9-Speed A/T,White,Black,None reported,Yes,60500
186735,186735,Ford,F-150 Lariat,2018,59600,Gasoline,365.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed M/T,White,Gray,None reported,Yes,68000
140303,140303,BMW,Z4 sDrive35is,2003,28644,Gasoline,215.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,5-Speed M/T,Orange,Black,None reported,Yes,8250
29380,29380,Ford,F-150 XLT,2021,28260,Gasoline,2.7L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,Black,Black,None reported,Yes,69995
148181,148181,INFINITI,QX60 Base,2018,70700,Gasoline,295.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,28750
139,139,Rolls-Royce,Ghost Base,2018,56985,Gasoline,710.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Red,None reported,Yes,27671
95594,95594,Ford,F-150 Lariat,2021,14642,Plug-In Hybrid,400.0HP 2.0L 4 Cylinder Engine Plug-In Electri...,10-Speed A/T,Red,Black,None reported,Yes,53900
132310,132310,Porsche,Cayman Base,2011,75000,Gasoline,265.0HP 2.9L Flat 6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Gray,None reported,Yes,16500
2646,2646,Audi,A5 2.0T Premium,2019,24882,Gasoline,211.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,9-Speed A/T,Gray,Black,None reported,Yes,44500
44430,44430,Chevrolet,Corvette Stingray w/1LT,2023,1500,Gasoline,490.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Red,None reported,Yes,74900
64888,64888,Volkswagen,Jetta S,2022,9400,Gasoline,420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Black,Black,None reported,Yes,41900
51838,51838,Ford,F-350 Platinum,2019,37000,Diesel,450.0HP 6.7L 8 Cylinder Engine Diesel Fuel,A/T,Silver,Black,None reported,Yes,63900
137958,137958,Mercedes-Benz,A-Class A 220 4MATIC,2020,38900,Gasoline,188.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,9-Speed A/T,White,Gray,None reported,Yes,21995
113312,113312,Ford,Bronco Wildtrak Advanced,2022,17500,Gasoline,315.0HP 2.7L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,–,None reported,Yes,78900
29266,29266,Audi,Q7 3.0T Prestige,2018,63500,Gasoline,330.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Red,Beige,None reported,Yes,18700
65282,65282,Audi,S5 3.0T Prestige,2020,25000,Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,None reported,Yes,30000
140645,140645,Subaru,Outback 2.5i Limited,2017,96673,Gasoline,265.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,A/T,Blue,Beige,At least 1 accident or damage reported,Yes,24000
180077,180077,BMW,535 i xDrive,2016,90000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,18000

In [517]:
from datetime import datetime

current_year = datetime.now().year
df['model_year'] = current_year - df['model_year'].astype(int)
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,17,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,22,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,22,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,7,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,3,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [518]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
label_encoder = LabelEncoder()
df['brand'] = label_encoder.fit_transform(df['brand'])
df['model'] = label_encoder.fit_transform(df['model'])
df['fuel_type'] = label_encoder.fit_transform(df['fuel_type'])
df['engine'] = label_encoder.fit_transform(df['engine'])
df['transmission'] = label_encoder.fit_transform(df['transmission'])
df['ext_col'] = label_encoder.fit_transform(df['ext_col'])
df['int_col'] = label_encoder.fit_transform(df['int_col'])
df['accident'] = label_encoder.fit_transform(df['accident'])
df['clean_title'] = label_encoder.fit_transform(df['clean_title'])

In [519]:
df

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,31,493,17,213000,2,110,38,306,71,1,0,4200
1,1,28,925,22,143250,2,358,38,257,10,0,0,4999
2,2,9,1567,22,136731,1,627,38,37,71,1,0,13900
3,3,16,755,7,19500,2,846,49,28,14,1,0,45000
4,4,36,1072,3,7388,2,252,23,28,10,1,0,97500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188527,188527,9,402,25,110000,2,604,38,298,71,1,0,14500
188528,188528,8,601,7,49000,2,849,49,298,10,1,0,27500
188529,188529,36,204,6,28600,2,757,31,298,14,0,0,30000
188530,188530,36,221,3,13650,2,904,23,298,14,1,0,86900
188532,188532,43,1023,8,59500,2,356,49,298,14,1,0,28995

In [520]:
from sklearn.preprocessing import MinMaxScaler
non_boolean_numerical_features = ['milage', 'price']
scaler = MinMaxScaler()
df[non_boolean_numerical_features] = scaler.fit_transform(df[non_boolean_numerical_features])

In [521]:
y_scaled = df['price']
y_scaled

0         0.000745
1         0.001016
2         0.004031
3         0.014566
4         0.032350
            ...
188527    0.004234
188528    0.008638
188529    0.009485
188530    0.028759
188532    0.009144
Name: price, Length: 162610, dtype: float64

In [522]:
x = df.drop(['price'],axis=1)
x

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,0,31,493,17,0.525809,2,110,38,306,71,1,0
1,1,28,925,22,0.353544,2,358,38,257,10,0,0
2,2,9,1567,22,0.337444,1,627,38,37,71,1,0
3,3,16,755,7,0.047913,2,846,49,28,14,1,0
4,4,36,1072,3,0.018000,2,252,23,28,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
188527,188527,9,402,25,0.271425,2,604,38,298,71,1,0
188528,188528,8,601,7,0.120771,2,849,49,298,10,1,0
188529,188529,36,204,6,0.070388,2,757,31,298,14,0,0
188530,188530,36,221,3,0.033465,2,904,23,298,14,1,0
188532,188532,43,1023,8,0.146703,2,356,49,298,14,1,0

1. Use the Dataset file to train your model. Split this into train and test to calculate the RMSE

In [523]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y_scaled, test_size=0.2, random_state=42)

In [524]:
model = LinearRegression()

In [525]:
model.fit(X_train, y_train)

LinearRegression()

In [526]:
y_pred = model.predict(X_test)

In [527]:
mean_squared_error(y_test, y_pred, squared=False)

0.026776874019972474

In [528]:
test_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/test.csv?raw=true'
dt = pd.read_csv(test_url)

In [529]:
sample_submission_url = 'https://github.com/robitussin/CCMACLRL_EXAM/blob/a46a4e2a001dedaefc9b431d480b508ce86c2d96/datasets/sample_submission.csv?raw=true'
sf = pd.read_csv(sample_submission_url)

In [530]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162610 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            162610 non-null  int64
 1   brand         162610 non-null  int64
 2   model         162610 non-null  int64
 3   model_year    162610 non-null  int64
 4   milage        162610 non-null  float64
 5   fuel_type     162610 non-null  int64
 6   engine        162610 non-null  int64
 7   transmission  162610 non-null  int64
 8   ext_col       162610 non-null  int64
 9   int_col       162610 non-null  int64
 10  accident      162610 non-null  int64
 11  clean_title   162610 non-null  int64
 12  price         162610 non-null  float64
dtypes: float64(2), int64(11)
memory usage: 17.4 MB

In [531]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125690 entries, 0 to 125689
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            125690 non-null  int64
 1   brand         125690 non-null  object
 2   model         125690 non-null  object
 3   model_year    125690 non-null  int64
 4   milage        125690 non-null  int64
 5   fuel_type     122307 non-null  object
 6   engine        125690 non-null  object
 7   transmission  125690 non-null  object
 8   ext_col       125690 non-null  object
 9   int_col       125690 non-null  object
 10  accident      124058 non-null  object
 11  clean_title   111451 non-null  object
dtypes: int64(3), object(9)
memory usage: 11.5+ MB

In [532]:
from datetime import datetime

current_year = datetime.now().year
dt['model_year'] = current_year - dt['model_year'].astype(int)
dt.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,Land,Rover LR2 Base,9,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,Land,Rover Defender SE,4,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
2,188535,Ford,Expedition Limited,2,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
3,188536,Audi,A6 2.0T Sport,8,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
4,188537,Audi,A6 2.0T Premium Plus,6,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [533]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
label_encoder = LabelEncoder()
dt['brand'] = label_encoder.fit_transform(dt['brand'])
dt['model'] = label_encoder.fit_transform(dt['model'])
dt['fuel_type'] = label_encoder.fit_transform(dt['fuel_type'])
dt['engine'] = label_encoder.fit_transform(dt['engine'])
dt['transmission'] = label_encoder.fit_transform(dt['transmission'])
dt['ext_col'] = label_encoder.fit_transform(dt['ext_col'])
dt['int_col'] = label_encoder.fit_transform(dt['int_col'])
dt['accident'] = label_encoder.fit_transform(dt['accident'])
dt['clean_title'] = label_encoder.fit_transform(dt['clean_title'])

In [534]:
from sklearn.preprocessing import MinMaxScaler
non_boolean_numerical_features = ['milage']
scaler = MinMaxScaler()
dt[non_boolean_numerical_features] = scaler.fit_transform(dt[non_boolean_numerical_features])

In [535]:
id = sf.pop('id')
y_pred = model.predict(dt)

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'price': y_pred
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")

Submission file created: submission_file.csv